{% extends 'emails/base.twig' %}

{% block content %}

    <p>Thanks for being part of {{ siteTitle }}!</p>

    <p>Your account was successfully deleted by an administrator.</p>
    
{% endblock %}
