{% extends 'layouts/base.twig' %}

{% block pageTitle %}
    404 Page Not Found
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1>404</h1>
        <h5>Oops, it looks like the page you are trying to access does not exist :(</h5>
        <h6>Please make sure that the entered URL is correct.</h6>
    </div>
{% endblock %}
