<div id="toastMessageContainer" class="d-flex justify-content-center align-items-center mt-5">
    <div id="toastMessage" class="toast text-center position-fixed" role="status" aria-live="polite" aria-atomic="true" data-bs-delay="5000">
        <div id="info-message" class="toast-body d-none"></div>
        <div id="error-message" class="toast-body d-none"></div>
    </div>
</div>
