{% extends 'emails/base.twig' %}

{% block content %}

    <p>Event '{{ eventName }}' at which you participate has been deleted.</p>

    <p>For more details please visit your <a href="{{ baseUrl }}/artist">Artist Panel</a>.</p>

{% endblock %}
