{% extends 'emails/base.twig' %}

{% block content %}

    <p>Event '{{ eventName }}' hosted in venue '{{ venueName }}' at which you are participating in has a new host set.</p>

    <p>For more details please visit your <a href="{{ baseUrl }}/artist">Artist Panel</a>.</p>

{% endblock %}
