{% extends 'emails/base.twig' %}

{% block styles %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
{% endblock %}

{% block content %}

    <p>Host '{{ hostName }}' has been deleted. All of their events at which you participate listed below now have no host set:</p>

    <table cellpadding="12">
        <tr>
            <th>Event</th>
            <th>Venue</th>
        </tr>
         {% for event in hostEvents %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.venue.name }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>For more details please visit your <a href="{{ baseUrl }}/artist">Artist Panel</a>.</p>

{% endblock %}
