{% extends 'emails/base.twig' %}

{% block content %}

    <p>Venue '{{ venueName }}' at which's events you are participating in has a new owner set.</p>

    <p>For more details please visit your <a href="{{ baseUrl }}/artist">Artist Panel</a>.</p>

{% endblock %}
