{% extends 'emails/base.twig' %}

{% block styles %}
    <style>
        .button {
            font: bold 14px Arial;
            text-decoration: none;
            background-color: green;
            color: white;
            padding: 6px 10px 6px 10px;
            border-radius: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <p>You have requested a password reset.</p>
    <p>Reset your password using the button below:</p>
    <a class="button" href="{{ baseUrl }}{{ url_for('password.reset') }}?email={{ user.email }}&identifier={{ identifier | url_encode }}">Reset Password</a>
{% endblock %}
